nav
{
    padding-top: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h3
{
    padding-left: 40px;
    font-family: "GeneralSans-Medium";
}
nav button
{
    background-color: var(--background);
    border: 0px;
    color: white;
    padding: 20px;
    padding-right: 2vw;
}